#green-humid-card{
    grid-area: humidity;
    margin-left: 3rem;
    background-color: rgb(127, 254, 127);
}

#red-humid-card{
    grid-area: humidity;
    margin-left: 3rem;
    background-color: rgb(255, 105, 105);
}