.App {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10rem;
  column-gap: 10rem;
  grid-template-areas:
  ". temp moist"
  "humidity lumin ."
  ". button . "
   ;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pump{
  grid-area: button;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


